* {
    box-sizing: border-box;
  }
  .nav{
    text-align: right;
    margin-top: 15px;
    margin-right: 10px;
    height: 50px;
}
.nav button{
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  padding: 4px;
  outline: none;
}
.nav button:hover{
  cursor: pointer;
  background-color: black;
  border: 1px solid whitesmoke;
  color: white;
}
.triqui {    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    height: 300px;
    width: 300px;
    background-color: white;
    font-size: 25px;
    font-family: helvetica;
    color: black;
  }
  
  .triqui .fila {
    height: 100px;
  }
  
  .triqui .fila:not(:last-child) {
    border-bottom: 1.5px solid black;
  }
  
  .triqui .fila .celda {
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    padding-top: 34px;
  }

  .triqui .fila .celda:not(:last-child) { 
    border-right: 1.5px solid black;
  }

  button#start{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-59%, 50%);
    display: block;
    margin: 20px 10px;
    font-size: 22px;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    padding: 4px;
    outline: none;
}
button:hover{
    cursor: pointer;
    background-color: black;
    border: 1px solid whitesmoke;
    color: white;

}
h2{
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
}