*{
    margin: 0;
    padding: 0;
}
.contenedor{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -65%);
  width: 40%;
  height: 20%;
  padding: 20px;  
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  
}
button{
    margin: 20px 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    padding: 4px;
    outline: none;
}
button:hover{
    cursor: pointer;
    background-color: black;
    border: 1px solid whitesmoke;
    color: white;

}
input[type=number] {
    width: 30%;
    border: none;
    border-bottom: 2px solid black;
    font-size: 14px;
    margin-right: 30px;
    outline: none;
    color: black;
}
form{
    margin-bottom: 20px;
}
#romanNumber{
    font-size: 30px;
}